/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;

  .wrapper { position: relative; }
}

.header-content-wrapper {
  margin-top: $spacing-unit / 2;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: bold;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-left: 5px;
  vertical-align: middle;
  font-family: $heading-font-family;

  @include media-query($on-palm) {
    margin-left: 0px;
  }

  &,
  &:visited,
  &:hover {
    color: var(--grey-color-dark);
    text-decoration: none;
  }
}

.site-symbol {
  &,
  &:visited,
  &:hover {
    text-decoration: none;
  }

  svg {
    vertical-align: middle;

    circle {
      stroke: var(--grey-color-dark);
    }
  }

  .palm {
    display: none;
    @include media-query($on-palm) {
      display: inline
    }
  }

  .laptop {
    display: inline;
    @include media-query($on-palm) {
      display: none;
    }
  }
}

#theme-toggle {
  position: absolute;
  top: - $spacing-unit / 2;
  right: 60px;
  width: 50px;
  height: 50px;
  background-color: #e63c3c;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  &:focus {
    outline: 2px solid var(--text-color);
    outline-offset: 2px;
  }

  svg {
    width: 24px;
    height: 24px;
  }

  @include media-query($on-palm) {
    right: 15px;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: var(--text-color);
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: var(--background-color);
    border: 1px solid var(--grey-color-light);
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: var(--grey-color-dark);
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: 0 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
  font-family: $heading-font-family;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: var(--grey-color);
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
  text-align: center;
}

.post-list {
  margin-left: 0;
  padding-left: 1rem;
  list-style: disc;

  > li {
    margin-bottom: $spacing-unit / 3;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: var(--grey-color);
}

.post-link {

  &,
  &:hover,
  &:visited {
    color: var(--text-color);
  }

  @include relative-font-size(1.0);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: $spacing-unit / 3;
  line-height: 1.2;

  @include media-query($on-laptop) {
    @include relative-font-size(1.5);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.875);
    font-weight: 600;
    color: #e32c2c;
    margin-top: 2em;
    margin-bottom: $spacing-unit / 3;

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.375);
    font-weight: 500;
    color: #4c629f;
    margin-top: 1.5em;
    margin-bottom: $spacing-unit / 4;

    @include media-query($on-laptop) {
      @include relative-font-size(1.25);
    }
  }

  h4 {
    @include relative-font-size(1.25);
    margin-bottom: $spacing-unit / 5;

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

[data-theme="dark"] .post-content {
  h2 { color: #de5454; }
  h3 { color: #6eacda; }
}
